In [19]:
import numpy as np
from adaline import adaline
from pandas import DataFrame
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline

In [20]:
train_data =  np.random.uniform(-100, 100, (10000, 2))
train_label = train_data[:,1] > 1

DataFrame([train_data[:,0], train_data[:,1], train_label]).T.rename(columns = {0: 'x', 1:'y', 2: 'target'})

            x        y target
0    -28.5761  53.3115   True
1    -18.6191  85.2919   True
2     -93.973 -75.8426  False
3     79.2778   86.919   True
4    -47.5441 -51.2111  False
...       ...      ...    ...
9995  7.51518 -32.7719  False
9996  10.8849  21.6162   True
9997  61.5942  39.4601   True
9998  31.3499   17.464   True
9999 -32.5699 -9.26951  False

[10000 rows x 3 columns]

In [23]:
neuron = adaline(2, 0.4)

history = neuron.train(train_data, train_label)

neuron.weights

array([  -9690.7844123 , -397984.02201541])

In [24]:
from sklearn import metrics

pred = np.array([neuron.predict(i) for i in train_data])
pred = pred < 0.5
pred

metrics.accuracy_score(train_label, pred)

0.9919

In [27]:
test_data =  np.random.uniform(-100, 100, (1000, 2))
test_label = test_data[:,1] > 1

pred = np.array([neuron.predict(i) for i in test_data])
pred = pred < 0.5
pred

metrics.accuracy_score(test_label, pred)

0.989